body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__container label {
  margin-top: 1rem;
}

.form__container--submit_button {
  margin-top: 1rem;
}


.post__container {
  margin-top: 2rem;
  width: 90%;
}

.form__container--bindestreck {
  border-bottom: 1px solid black;
  width: 100%;
}

.post__container--post {
  border: 2px solid black;
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.post__container--delete_button {
  margin-bottom: 1rem;
}

.post__container--update_button {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}